APP_ENV=development
SECRET_KEY=super-secret-key-change-me

# Database configuration for local development
DB_HOST=localhost
DB_PORT=5432
DB_NAME=supportflow_ai
DB_USER=postgres
DB_PASSWORD=HAMMAD123

REDIS_URL=redis://localhost:6379
OLLAMA_BASE_URL=http://localhost:11434
JWT_SECRET_KEY=jwt-secret-key-change-me
